name: Generate reports with gmuv

on:
  push:
    paths:
    - '.github/workflows/generate_report_w_gmuv.yml'
  schedule:
    - cron: '0 3 */7 * *'

jobs:
  run-gmuv:
    runs-on: ubuntu-latest
    env:
      account: microsoft
    strategy:
      matrix:
        repos: [vscode-docs,Office-Online-Test-Tools-and-Documentation,Documentarian,jacdac-docs,cognitive-research-technologies-docs,ostc-docs]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - name: Generate report for microsoft repos
        uses: groovy-sky/gmuv@v1.1.1
        with:
          account: ${{ env.account }}
          repository: ${{ matrix.repos }}
          filename: REPORTS/${{ env.account }}-${{ matrix.repos }}.md

      - name: Publishing the changes
        continue-on-error: true
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull
          git add .
          git commit -m $(date +%F)
          git push --force